* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#splitter {
    background: url('../images/spliter.png') no-repeat center center;
    padding-top: 50px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    float: inline-end;
    top: 30px;
    right: 150px;
    position: static;
}

/* types of bonsai*/

#bonsai_about {
    padding-top: 60px;
    width: 33%;
    margin: 0 auto;
}

p {
    padding-top: 10px;
}

.types_p_bonsai {
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fafafa92
}

#left_about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right_about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center_about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

/*.left-bonsai {
    background: url('../images/GROUP_FIT_STYLE.jpg') no-repeat center center;
    width: 50%;
    float: right;
    height: 600px;
    clear: both;
    margin-bottom: 50px;
}*/

.left-bonsai {
    background: url('../images/GROUP_FIT_STYLE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-left: 10px;
    overflow: hidden;
}

/*.right-bonsai {
    background: url('../images/Formal_vertical_style.jpg') no-repeat center center;
    width: 50%;
    float: left;
    height: 600px;
    clear: both;
    margin-bottom: 50px;
}*/
.right-bonsai {
    background: url('../images/Formal_vertical_style.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-left: 10px;
    overflow: hidden;
}

/*.center-bonsai {
    background: url('../images/TREE_on_a_stone.jpg') no-repeat center center;
    width: 50%;
    height: 600px;
}*/
.center-bonsai {
    background: url('../images/TREE_on_a_stone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-left: 10px;
    overflow: hidden;
}

.types_bonsai {
    color: #fafafa92;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#welcome {
    padding-top: 60px;
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/* Footer */

footer {
    height: 150px;
}

.social_media {
    text-align: center;
}

.social_media>li {
    display: inline;
}

.social_media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Form */

#contact_form_section {
    clear: left;
    background: url("../images/Semi-cascading-style.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact_form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact_form h2 {
    color: #fafafa;
    margin-bottom: 20px
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #ed3b3b;
}

.subscribe_button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #307334;
    color: #fafafa;
    display: block;
}

.subscribe_button:hover {
    background-color: #fafafa;
    color: #ed3b3b;
}

/* Media queries */

/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left_about,
    #right_about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center_about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 600px wide and down */
@media screen and (max-width: 600px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}