* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: Lato, sans-serif;
}

.bg {
    background-image: url("../images/bg3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**************** headings and logo ****************/
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/**************** navigation links ****************/
#menu {
    font-size: 150%;
    letter-spacing: 4px;
    color: #fafafa92;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo,
#menu {
    line-height: 75px;
    margin-top: 60px;
    height: 100px;
    color: #fafafa92;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.welcome {
    padding-top: 10px;
    text-align: center;
    font-size: 200%;
    color: #fafafa92;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/****************  ****************/
#bonsai_about {
    width: 33.33%;
    margin: 0 auto;
}

#bonsai_type {
    width: 100%;
}

#contact_form_section {
    height: 450px;
    width: 33.33%;
    margin: 0 auto;
}

#row {
    padding-top: 50px;
    display: flex;
    width: 100%;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
}

/**************** Bonsai Cards ****************/

#left_card {
    background: url('../images/GROUP_FIT_STYLE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#center_card {
    background: url('../images/TREE_on_a_stone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#right_card {
    background: url('../images/Formal_vertical_style.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
}

.card_content {
    padding: 1.5rem;
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.3) 20%,
            hsl(0 0% 0% / 1));
    height: 300px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card_title {
    position: relative;
    width: max-content;
    color: #fafafa92;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card_title::after {
    Content: "";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #307334;
}

.card_button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fafafa92;
    background-color: #307334;
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
}

.card_body {
    color: #fafafa92;
}

/**************** Teste card end ****************/

/**************** Form ****************/

.contact_form {
    margin: 10px 10% 0 0;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
    width: 90%;
    padding: 30px;
}

.contact_form h2 {
    color: #fafafa;
    margin-bottom: 20px
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

textarea {
    min-width: 150px;
    max-width: 100%;
    min-height: 80px;
    height: 100%;
    width: 100%;
}

.text-input:hover {
    border-color: #ed3b3b;
}

.subscribe_button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #307334;
    color: #fafafa;
    display: block;
}

.subscribe_button:hover {
    background-color: #fafafa;
    color: #ed3b3b;
}

/**************** Footer ****************/

footer {
    height: 150px;
    margin-top: 30px;
}

.social_media {
    text-align: center;
}

.social_media>li {
    display: inline;
}

.social_media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/**************** Media queries ****************/

/**************** For smaller screens sizes 400px wide and down ****************/

@media screen and (min-width: 320px) {

    #logo,
    #menu {
        margin-top: 100px;
    }
}

/**************** For medium screens sizes from 600px wide and down ****************/
@media screen and (min-width: 600px) {
    body {
        background-color: lavender;
    }
}

/**************** Animations block ****************/
@media (hover)

/*,
(pointer:none),
(pointer:coarse)*/
    {
    .card {
        transition: transform 500ms ease;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card_content {
        transform: translateY(75%);
        transition: transform 1s ease;
    }

    .card:hover .card_content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card_content {
        transition-duration: 0ms;
    }

    .card_content>*:not(.card_title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card_content>*:not(.card_title),
    .card:focus-within .card_content>*:not(.card_title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card_title::after {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease;
    }

    .card:hover .card_title::after,
    .card:focus-within .card_title::after {
        transform: scaleX(1);
    }

    .card_button:hover,
    .card_button:focus {
        background-color: #fafafa92;
        color: #252525;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}